<div class="panel panel-primary">
  <div class="panel-heading">
    <h2> Registros de Problema </h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Código</th>
          <th>Descrição</th>
          <th>Operações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Problema of Problemas | async">
          <td>{{problema.id}}</td>
          <td>{{problema.codigo}}</td>
          <td>{{problema.descricao}}</td>
          <td><button (click)="problema(problema.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>