<h3>Cria Problema</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Id</label>
      <input type="text" class="form-control" id="Id" required [(ngModel)]="Problema.id" name="id">
    </div>

    <div class="form-group">
      <label for="name">Código</label>
      <input type="text" class="form-control" id="Codigo" required [(ngModel)]="Problema.codigo" name="codigo">
    </div>

    <div class="form-group">
      <label for="name">Descrição</label>
      <input type="text" class="form-control" id="Descricao" required [(ngModel)]="Problema.descricao" name="descricao">
    </div>

    <div class="form-group">
      <label for="name">Ações Corretivas</label>
      <input type="text" class="form-control" id="Acoes_Corretivas" required [(ngModel)]="Problema.acoes_Corretivas" name="acoes_Corretivas">
    </div>

    <div class="form-group">
      <label for="name">Data de Início</label>
      <input type="text" class="form-control" id="DataInicio" required [(ngModel)]="Problema.dataInicio" name="dataInicio">
    </div>

    <div class="form-group">
      <label for="name">Local</label>
      <input type="text" class="form-control" id="Local" required [(ngModel)]="Problema.local" name="local">
    </div>

    <div class="form-group">
      <label for="name">Turno</label>
      <input type="text" class="form-control" id="Turno" required [(ngModel)]="Problema.turno" name="turno">
    </div>
TODO - reportado por deve ser meu login. Criar login e conseguir apresentar aqui, sem pedir o dado
    <div class="form-group">
      <label for="name">Reportado Por</label> {{Problema.reportadoPor}}
    </div>
    <div class="form-group">
      <label for="name">Estado</label> {{Problema.estado}}
    </div>
    <div class="form-group">
      <label for="name">Não Conformidade </label>
      <input type="text" class="form-control" id="NaoConformidade" required [(ngModel)]="Problema.naoConformidade" name="naoConformidade">
    </div>

    <div class="form-group">
      <label for="name">Id do Produto / Processo</label>
      <input type="text" class="form-control" id="IdProdutoProcesso" required [(ngModel)]="Problema.idProdutoProcesso" name="idProdutoProcesso">
    </div>

    <div class="form-group">
      <label for="name">Nome do Produto / Processo</label>
      <input type="text" class="form-control" id="NomeProdutoProcesso" required [(ngModel)]="Problema.nomeProdutoProcesso" name="nomeProdutoProcesso">
    </div>

    <div class="form-group">
      <label for="name">Ações Executadas</label>
      <input type="text" class="form-control" id="acoesExecutadas" required [(ngModel)]="Problema.acoesExecutadas" name="acoesExecutadas">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>

