<h2>Registro de Atividade de Qualidade</h2> 

<hr/>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name"><b>Id: </b></label>
      <label class="form-control">{{atividade.id}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Código: </b></label> 
      <label class="form-control">{{atividade.codigo}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Descrição: </b> </label>
      <label class="form-control"> {{atividade.descricao}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Padrão ou Norma Associado? </b> </label>
      <label class="form-control">{{atividade.normaPadraoAssociada.tipo}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Código do Padrão/Norma: </b> </label>
      <label class="form-control">{{atividade.normaPadraoAssociada.codigo}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Título do Padrão/Norma: </b></label>
      <label class="form-control">{{atividade.normaPadraoAssociada.titulo}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Usuario Atribuído: </b> </label>
      <label class="form-control">{{atividade.usuarioAtribuido}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Produto ou Processo Associado? </b> </label>
      <label class="form-control">{{atividade.produtoProcessoAssociado.tipo}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Código do Produto/Processo: </b> </label>
      <label class="form-control">{{atividade.produtoProcessoAssociado.codigo}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b>Nome do Produto/Processo: </b> </label>
      <label class="form-control">{{atividade.produtoProcessoAssociado.nome}} </label>
    </div>
    <div class="form-group">
      <label for="name"><b> Local do Processo: </b></label>
      <input type="text" class="form-control" id="produtoProcessosAnalisadoslocal" required [(ngModel)]="atividade.produtoProcessoAnalisados.local" name="produtoProcessoAnalisadoslocal">
    </div>
    <div class="form-group">
      <label for="name"><b> Situação do Produto/Processo </b>('conforme' ou 'nao conforme'): </label>
      <input type="text" class="form-control" id="produtoProcessosAnalisados.situacao" required [(ngModel)]="atividade.produtoProcessoAnalisados.situacao" name="produtoProcessoAnalisadossituacao">
    </div>
    <div class="form-group">
      <label for="name"> Se houver, indique a Não Conformidade associada: </label>
      <input type="text" class="form-control" id="produtoProcessosAnalisados.nc" required [(ngModel)]="atividade.produtoProcessoAnalisados.naoConformidade" name="produtoProcessoAnalisados.nc">
    </div>
    <div class="form-group">
      <label for="name"> Comentários: </label>
      <input type="text" class="form-control" id="produtoProcessosAnalisados.comentario" required [(ngModel)]="atividade.produtoProcessoAnalisados.comentario" name="produtoProcessoAnalisadoscomentario">
    </div>
    <div class="form-group">
      <label for="name">Data Inicial da Atividade: </label>
      <input type="datetime-local" class="form-control" id="dataInicio" required [(ngModel)]="atividade.dataInicio" name="dataInicio">
    </div>
    <div class="form-group">
      <label for="name">Data Final da Atividade: </label>
      <input type="datetime-local" class="form-control" id="dataFim" required [(ngModel)]="atividade.dataFim" name="dataFim">
    </div>
    <button type="submit" class="btn btn-success">Registrar Execução</button>
  </form>
</div>

