<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="!Authenticated"> 
      <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
    <a routerLink="atividadeswait" class="nav-link" routerLinkActive="active">Atribuir Atividade</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
    <a routerLink="atividadesatrib" class="nav-link" routerLinkActive="active">Minhas Atividades</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
    <a routerLink="addProblema" class="nav-link" routerLinkActive="active">Registrar Problema</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
    <a routerLink="problemas" class="nav-link" routerLinkActive="active">Problemas Abertos</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
      <a routerLink="home" class="nav-link" routerLinkActive="active">Ajuda</a>
  </li>
  </ul>
</nav>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <!-- Links -->
  <li class="nav-item" *ngIf="Authenticated">
      <a routerLink="cadAtividades" class="nav-link" routerLinkActive="active">Atividades Cadastradas</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
      <a routerLink="addCadAtividade" class="nav-link" routerLinkActive="active">Cadastrar Atividade</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
      <a routerLink="cadProblemas" class="nav-link" routerLinkActive="active">Problemas Cadastrados</a>
  </li>
  <li class="nav-item" *ngIf="Authenticated">
      <a routerLink="addCadProblema" class="nav-link" routerLinkActive="active">Cadastrar Problema</a>
  </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">SGQ ABA</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <span>TCC Arnaldo Almeida 2019 - Arquitetura de Sistemas Distribuídos - Puc Minas - Baseado em @JavaGuides e eShopOnContainers</span>
  </div>
</footer>