<header>
  <div class="container">
    <article class="row">
      <section class="col-lg-7 col-md-6 col-12">
        <a routerLink="/" class="logo">SGQ AA</a>
      </section>

      <section class="col-lg-4 col-md-5 col-12">
          <app-identity></app-identity>
      </section>

      <ul>
        <li><a href="#" routerLink="/">Home</a></li>        
        <li><a href="#" routerLink="/regProblemas">RegProb</a></li>
        <li><a href="#" routerLink="/regAtividades">RegAtv</a></li>
        <li><a href="#" routerLink="/problemas">CadProb</a></li>
        <li><a href="#" routerLink="/atividades">CadAtv</a></li>
      </ul>
    </article> 
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>