<header>
  <div class="container">
    <a routerLink="/" class="logo">SGQ AA</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>        
        <li><a href="#" routerLink="/regProblemas">RegProb</a></li>
        <li><a href="#" routerLink="/regAtividades">RegAtv</a></li>
        <li><a href="#" routerLink="/problemas">CadProb</a></li>
        <li><a href="#" routerLink="/atividades">CadAtv</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>