<h2>Detalhes do Problema</h2> 

<hr/>
<div *ngIf="problema">
  <div>
    <label><b>Código: </b></label> {{problema.codigo}}
  </div>
  <div>
    <label><b>Descrição: </b></label> {{problema.descricao}}
  </div>
  <div>
    <label><b>Ações Corretivas: </b></label> {{problema.acoes_Corretivas}}
  </div>  
  <div>
    <label><b>Id: </b></label> {{problema.id}}
  </div>
  <div>
    <label><b>Data de Início: </b></label> {{problema.dataInicio}}
  </div>
  <div>
    <label><b>Local: </b></label> {{problema.local}}
  </div>  
  <div>
    <label><b>Turno: </b></label> {{problema.turno}}
  </div>
  <div>
      <label><b>Reportado Por: </b></label> {{problema.quemReportou}}
  </div>
  <div>
    <label><b>Data Final: </b></label> {{problema.dataFim}}
  </div>  
  <div>
    <label><b>Estado: </b></label> {{problema.estado}}
  </div>
  <div>
    <label><b>Não Conformidade: </b></label> {{problema.naoConformidade}}
  </div>
  <div>
    <label><b>Problema em produto ou processo ? </b></label> {{problema.tipoProdutoProcesso}}
  </div>
  <div>
    <label><b>Id do Produto/Processo: </b></label> {{problema.idProdutoProcesso}}
  </div>  
  <div>
    <label><b>Nome do Produto/Processo: </b></label> {{problema.nomeProdutoProcesso}}
  </div>  
  <div>
    <label><b>Ações Executadas: </b></label> {{problema.acoes_Executadas}}
  </div>  
</div>
<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar à lista de problemas</button><br>
