<div class="panel panel-primary">
    <div class="panel-heading">
      <h2> Lista de Atividades Executadas </h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atividade of atividades | async">
            <td>{{atividade.id}}</td>
            <td>{{atividade.codigo}}</td>
            <td>{{atividade.descricao}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>