<h1>Funções de Execução:</h1>

<div class="play-container">
    <ul>

        <li>Atribuir Atividade:</li>
        <a> Permite verificar a lista de atividades do seu workgroup e atribuir uma Atividade para si</a>

        <li>Minhas Atividades:</li>
        <a> Permite verificar a lista de minhas atividades e registra a execução de uma Atividade </a>

        <li>Registrar Problema:</li>
        <a> Permite o registro de um Problema relacionado a Qualidade</a>

        <li>Lista de Problemas:</li>
        <a> Lista os problemas em aberto relacionados a Qualidade</a>

      </ul>
</div>

<h1>Funções de Cadastramento:</h1>

<div class="play-container">
  <ul>

      <li>Atividades Cadastradas:</li>
      <a> Lista o cadastro de atividades de qualidade </a>

      <li>Cadastrar Atividade:</li>
      <a> Inclui Atividade no Cadastro </a>

      <li>Problemas Cadastrados:</li>
      <a> Lista o cadastro de problemas de qualidade</a>

      <li>Cadastrar Problema:</li>
      <a> Inclui Problema no Cadastro </a>

    </ul>
</div>
