<h3>Funções de Execução:</h3>

<div class="play-container">
    <ul>

        <li><b>Ativ grupo:</b></li>
        <a>Lista as atividades do seu grupo de trabalho e permite atribuir uma Atividade para si</a>

        <li><b>Minhas ativ:</b></li>
        <a> Lista as atividades que você atribuiu para si e permite registrar a execução de uma Atividade </a>

        <li><b>Reg probl:</b></li>
        <a> Permite o registro de um Problema relacionado a Qualidade</a>

      </ul>
</div>

<h3>Relatórios:</h3>

<div class="play-container">
  <ul>
    <li><b>Probl abertos:</b></li>
    <a> Lista os problemas em aberto relacionados a Qualidade</a>
  </ul>
  <ul>
    <li><b>Ativ exec:</b></li>
    <a> Lista as atividades já executadas</a>
  </ul>
</div>

<h3>Cadastramento:</h3>

<div class="play-container">
  <ul>

      <li><b>Ativ cad:</b></li>
      <a> Lista o cadastro de atividades de qualidade </a>

      <li><b>Cadastrar ativ:</b></li>
      <a> Inclui Atividade no Cadastro </a>

      <li><b>Probl cad:</b></li>
      <a> Lista o cadastro de problemas de qualidade</a>

      <li><b>Cadastrar probl:</b></li>
      <a> Inclui Problema no Cadastro </a>

    </ul>
</div>
