<h3>Funções de Execução:</h3>

<div class="play-container">
    <ul>

        <li><b>AtvGrupo:</b></li>
        <a>Lista as atividades do seu grupo de trabalho e permite atribuir uma Atividade para si</a>

        <li><b>MinhasAtv:</b></li>
        <a> Lista as atividades que você atribuiu para si e permite registrar a execução de uma Atividade </a>

        <li><b>RegProbl:</b></li>
        <a> Permite o registro de um Problema relacionado a Qualidade</a>

      </ul>
</div>

<h3>Relatórios:</h3>

<div class="play-container">
  <ul>
    <li><b>ProblAbertos:</b></li>
    <a> Lista os problemas em aberto relacionados a Qualidade</a>
  </ul>
  <ul>
    <li><b>AtvExec:</b></li>
    <a> Lista as atividades já executadas</a>
  </ul>
</div>

<h3>Cadastramento:</h3>

<div class="play-container">
  <ul>

      <li><b>AtvCad:</b></li>
      <a> Lista as atividades cadastradas </a>

      <li><b>CadAtv:</b></li>
      <a> Cadastrar Atividade </a>

      <li><b>ProblCad:</b></li>
      <a> Lista o cadastro de problemas de qualidade</a>

      <li><b>CadProbl:</b></li>
      <a> Cadastrar um Problema </a>

    </ul>
</div>
