<h3>Novo Cadastro de Atividade</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Código</label>
      <input type="text" class="form-control" id="Codigo" required [(ngModel)]="cadAtividade.codigo" name="Codigo">
    </div>

    <div class="form-group">
      <label for="name">Descrição</label>
      <input type="text" class="form-control" id="Descricao" required [(ngModel)]="cadAtividade.descricao" name="descricao">
    </div>

    <div class="form-group">
      <label for="name">usergroup</label>
      <input type="text" class="form-control" id="Usergroup" required [(ngModel)]="cadAtividade.usergroup" name="usergroup">
    </div>

    <div class="form-group">
        <label for="name">Associado a 'norma' ou 'padrão'?</label>
        <input type="text" class="form-control" id="cadAtividadenormaPadraoAssociadatipo" required [(ngModel)]="cadAtividade.normaPadraoAssociada.tipo" name="cadAtividadenormaPadraoAssociadatipo">
    </div>
    <div class="form-group">
        <label for="name">Código da Norma/Padrão</label>
        <input type="text" class="form-control" id="cadAtividadenormaPadraoAssociadacodigo" required [(ngModel)]="cadAtividade.normaPadraoAssociada.codigo" name="cadAtividadenormaPadraoAssociadacodigo">
    </div>
    <div class="form-group">
        <label for="name">Título da Norma/Padrão</label>
        <input type="text" class="form-control" id="normapadraotitulo" required [(ngModel)]="cadAtividade.normaPadraoAssociada.titulo" name="normaPadraoAssociada.titulo">
    </div>

    <div class="form-group">
      <label for="name">Associado a 'processo' ou 'produto'?</label>
      <input type="text" class="form-control" id="ppatipo" required [(ngModel)]="cadAtividade.produtoProcessoAssociado.tipo" name="ppa.tipo">
    </div>
    <div class="form-group">
      <label for="name">Código do Produto/Processo</label>
      <input type="text" class="form-control" id="ppacodigo" required [(ngModel)]="cadAtividade.produtoProcessoAssociado.codigo" name="ppa.codigo">
    </div>
    <div class="form-group">
      <label for="name">Nome do Produto/Processo</label>
      <input type="text" class="form-control" id="ppatitulo" required [(ngModel)]="cadAtividade.produtoProcessoAssociado.nome" name="ppa.titulo">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>Registro de Atividade Ok!</h4>
  <button class="btn btn-success" (click)="newCadAtividade()">Add</button>
</div>