<h2>Atividade a Atribuir</h2> 

<hr/>
<div *ngIf="atividade">
  <div>
    <label><b>Id: </b></label> {{atividade.id}}
  </div>
  <div>
    <label><b>Código: </b></label> {{atividade.codigo}}
  </div>
  <div>
    <label><b>Descrição: </b></label> {{atividade.descricao}}
  </div>
  <div>
    <label><b>Grupo de Trabalho: </b></label> {{atividade.usergroup}}
  </div>
  <div>
    <label><b>Associado a produto ou processo?: </b></label> {{atividade.produtoProcessoAssociado.tipo}}
  </div>  
  <div>
    <label><b>Código do Produto/Processo: </b></label> {{atividade.produtoProcessoAssociado.codigo}}
  </div>  
  <div>
    <label><b>Nome do Produto/Processo: </b></label> {{atividade.produtoProcessoAssociado.nome}}
  </div>  
  <div>
    <label><b>Associado a norma ou padrão?: </b></label> {{atividade.normaPadraoAssociada.tipo}}
  </div>  
  <div>
    <label><b>Código da Norma/Padrão: </b></label> {{atividade.normaPadraoAssociada.codigo}}
  </div>  
  <div>
    <label><b>Título da Norma/Padrão: </b></label> {{atividade.normaPadraoAssociada.titulo}}
  </div>  
</div>
<br>
<br>
<button (click)="atribuir()" class="btn btn-primary">Atribuir</button><br>
<button (click)="list()" class="btn btn-primary">Voltar à lista de atividades</button><br>
